<!DOCTYPE html>
<html>
  <head>
    <title>RailsAngularProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/9fb1499043.js"></script>
    <base href="/">
  </head>

<div class="container-fluid" id="main">
  <body ng-app="app">
    <%= render 'layouts/navigation' %> <br>
    <%= yield %>
</div>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  </body>
</html>
